//home.scss
body {
	font-family: 'type', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin:  10px;
	color: #444444;
	background-repeat: no-repeat;
	background-size: cover;
}
p {
	font-size: 16px;
	margin-bottom: $global-margin-bottom;
}
img {
	vertical-align: bottom;
	width: 100%;
}
a {
	text-decoration: none;
	color: inherit;
	&:hover {
		border-bottom: 2px solid;
	}
	&.active {
		border-bottom: 2px solid;
	}
}
