/*** MEDIA QUERIES ***/

@media all and (max-width: 1023px) and (min-width: 768px) {}

@media all and (max-width: 767px) {
	a:hover {
		border-bottom: none;
	}
}

@media all and (max-width: 767px) {
	header {
		h1 {
			width: 80%;
		}

	}
}
