@function grid-columns($cols){
	@return ($cols * ($column-width + $gutter)) - $gutter;
}

@mixin hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

@mixin inline-list {
	display: flex;
	list-style: none;
	overflow: hidden;
	li {
	// 	float: left;
		margin-right: 1rem;
	}
}
