$font-stack: 'Arimo', sans-serif;
$global-font-size: 16px;
$global-line-height: 1.5;

$gutter: 30px;
$column-width: (964 - (11 * $gutter))/12;

$global-margin-bottom: $global-font-size * $global-line-height;

$css-images-path: '../images/';

//COLOURS
$violet: rgb(154, 143, 202);
$blue: rgb(73, 120, 215);
//$green: rgb(88, 185, 24);
$green: rgb(30, 216, 117);
$yellow: rgb(215, 204, 96);

$education-color: $blue;
$blog-color: $green;
$collection-color: $yellow;
$exhibitions-color: $violet;
